<%= form_with(model: institution, local: true) do |form| %>
  <% if institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control"%>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
      
        <div class="form-group col-md-6">
          <%= form.label :phone %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :state %>
          <%= form.collection_select(:state, @states, :name, :acronym, {include_blank: false}, {:id => 'states_sected', :class => "form-control"}) %>
        </div>

        <div class="form-group col-md-8">
          <%= form.label :city %>
          <%= form.grouped_collection_select :city, State.order(:name), :cities, :acronym, :name, :name, {include_blank: false}, class: "form-control" %>
        </div>      
      </div>
      
      <div class="form-group">
        <%= form.label :needs %>
        <%= form.text_field :needs, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, size: '50x5', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions card-footer">
    <%= form.submit class: "btn btn-primary"%>
    <%= link_to 'Back', institutions_path, class: "btn btn-primary float-right"%>
  </div>
<% end %>
