<%= form_with(model: institution, local: true) do |form| %>
  <% if institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Nome</label>
        <%= form.text_field :name, class: "form-control"%>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">E-mail</label>
          <%= form.text_field :email, class: "form-control" %>
        </div>
      
        <div class="form-group col-md-6">
          <label for="phone">Telefone</label>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Endereço</label>
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="state">Estado</label>
          <%= form.collection_select(:state, @states, :name, :acronym, {include_blank: false}, {:id => 'states_sected', :class => "form-control"}) %>
        </div>

        <div class="form-group col-md-8">
          <label for="city">Cidade</label>
          <%= form.grouped_collection_select :city, State.order(:name), :cities, :acronym, :name, :name, {include_blank: false}, class: "form-control" %>
        </div>      
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <%= form.text_area :description, size: '50x5', class: "form-control" %>
      </div>            
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="row">
          <div class="col-2">
            <label for="needs">Necessidades</label>
          </div>
          <div class="col-10">
            <div class="form-check form-check-inline">
              <%= form.collection_check_boxes :need_ids, Need.all, :id, :necessidade do |n| %>
              <div class="form-check-label">
                <%= n.check_box class: "form-check-input" %>
                <%= n.label %>
                &nbsp
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions card-footer">
    <%= form.submit "Salvar", class: "btn btn-primary"%>
    <%= link_to 'Voltar', root_path, class: "btn btn-primary float-right"%>
  </div>
<% end %>
