<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <h1>Instituições</h1>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="text-center">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
          <th scope="col">Necessidades</th>
          <th scope="col">Descrição</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @institutions.each do |institution| %>
          <tr>
            <td><%= institution.name %></td>
            <td><%= institution.city %></td>
            <td><%= institution.state %></td>
            <td><%= institution.needs.map(&:necessidade).join(", ") %></td>
            <td><%= institution.description %></td>
            <td><%= link_to 'Ver mais', institution %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
